<div class="event-feed-row">
  <span class="event-time event-feed-cell" title="">8:54 PM</span>
  <div class="event-color event-feed-cell"></div>
  
  <div class="event-feed-cell">
    <span class=""> {{avatar tiny}}</span>
    <span> JeffZombie </span>
  </div>
  
  <span class="event-description event-feed-cell"> tagged </span>
  
  <div class="event-feed-cell">
    <span class=""> {{avatar tiny}}</span>
    <span> SaraHuman </span>
  </div>

</div>