


<h2> Games </h2>
{{#each user.players}}
<!-- if the game's registration is open or currently running, list the game, otherwise, list the game under Past Games -->  
<div class="row gamelistitem game-list-item transparent-cover">
  <div class="span4">
    {{#linkTo 'game.home' this.game classNames="game-list-name"}} {{this.game.name}} {{/linkTo}}
    <div class="timeseries"></div>
  </div>
  <div class="span4 game-list-item">
  THIS IS WHERE THE PLAYER SPECIFIC EVENT FEED GOES
  {{view App.PlayerListView contentBinding="content"}}
  </div>
  <div class="span4 game-list-item">
    <h4>Begins 8/14</h4>
    <h4>Ends 8/21</h4>
    <h4>Players: {{this.game.players.length}}</h4>
  </div>
</div>
{{/each}}
