<div class="event-feed-row">
  <div class="event-feed-cell">
    {{#linkTo 'user.home' user}} {{avatar tiny}} {{/linkTo}}
    <span> {{#linkTo 'user.home' user}}  {{user.first_name}} {{user.last_name}}  {{/linkTo}}</span>
  </div>
</div>