<div class="event-feed-row">
    <div class="event-feed-cell">
      <span class=""> {{avatar tiny}}</span>
      <span> JeffZombie </span>
    </div>
  
  <span class="event-description event-feed-cell"> tagged </span>
  
  <div class="event-feed-cell">
    <span class=""> {{avatar tiny}}</span>
    <span> SaraHuman </span>
  </div>
</div>

