<div class="event-feed-row">
    <div class="event-feed-cell">
      <span class=""> {{avatar2 user.avatar size="tiny"}}</span>
      <span> {{user.first_name}} {{user.last_name}} </span>
    </div>
  
  <span class="event-description event-feed-cell"> {{status}} </span>
  

</div>

