*.a
*.cgo*.c
*.cgo*.go
*.orig
*.pyc
*.so
*.sublime-project
*.sublime-workspace
*~
._*
.nfs.*
.db
public/js/*.js
tests/client/js/*.js

.DS_Store
deploy/supervisor.log
deploy/supervisor.pid
npm-debug.log
public/css/application.css

.db/
app/routes/
app/tmp/
bower_components/
components/
grunt-ember-handlebars/
jam/
node_modules/
public/img/glyphicons/
public/js/*
!public/js/lib
public/js/bower
test-results/
