*.a
*.cgo*.c
*.cgo*.go
*.orig
*.pyc
*.so
*.sublime-project
*.sublime-workspace
*~
._*
.nfs.*
public/js/*.js

.DS_Store
public/css/application.css

.db/
app/routes/
app/tmp/
grunt-ember-handlebars/
jam/
node_modules/
public/js/jam/
test-results/

!public/js/lib
public/img/glyphicons/