<span class="games">
  <h2> Active Game </h2>
  {{activeGame}}
  <div class="gameitem">
    <div class="major-title">
    </div>
    <div class="register-button btn">
    </div>
  </div>
  <h3> Activity </h3>
</span>