<div class="profile-option-tabs">
  {{#linkTo organization.settings classNames=""}} <i class="icon icon-gear"></i> {{/linkTo}}
  <span class="clearfix">
</div>
<span class="games">
  <h2> Active Game </h2>
  <div class="gameitem">
    <div class="major-title">
    </div>
    <div class="register-button btn">
      Register
    </div>
  </div>
  <h3> Activity </h3>
</span>