<span class="games">
  <h2> Active Game </h2>
  <div class="gameitem">
    <div class="major-title">
      August 3rd 2013
    </div>
    <div class="register-button btn">
      Register Now
    </div>
  </div>
  <h3> Past Games</h3>
  <div class="gameitem closed"></div>
  <div class="gameitem closed"></div>
</span>