#home{float:left}

@font-face {
    font-family: Delicious;
    src: url(../fonts/Delicious-Roman.otf);
}
@font-face {
    font-family: Delicious; 
    font-weight: bold;
    src: url(../fonts/Delicious-Bold.otf); 
}
@font-face {
    font-family: Delicious;
    font-style: italic, oblique;
    src: url(../fonts/Delicious-Italic.otf);
}
@font-face {
    font-family: Delicious;
    font-weight: bold;
    font-style: italic, oblique;
    src: url(../fonts/Delicious-BoldItalic.otf);
}
@font-face {
    font-family: Delicious-SmallCaps;
    src: url(../fonts/Delicious-SmallCaps.otf);
}