 .grid-image {
   background: rgba(0, 0, 0, 0) url(../img/users.png) no-repeat 0px 0px;
   background-size: cover;
   height: 265px;
   width: 269px;
   margin: auto auto;
 }

 .timeseries {
   background: rgba(0, 0, 0, 0) url(../img/time_series.jpg) no-repeat 0px 0px;
   background-size: cover;
   height: 210.32px;
   width: 270px;
   margin: auto auto;
 }
