
body {
  padding-left: 0;
  padding-right: 0;
  font-family: Lato, 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 21px;
  font-weight: 300;
}


 .container-fluid {
   padding: 0px;
 }
 .container-fluid .container-fluid div .navbar {
   margin: 0px;
   height: 60px;
 }
 .container-fluid .container-fluid div .navbar .navbar-inner {
   background: rgba(255, 255, 255, 0.960784);
   border: none;
   height: 60px;
   padding-left: 20px;
   padding-right: 20px;
 }
 .navbar .brand {
   margin: 0px 0px 0px -15px;
   text-shadow: none;
   font-family:"sansita one";
   font-weight: bold;
   font-size: 30px;
   /*color: #333333;*/
   line-height: 40px;
 }
 .nav-button {
   margin: 8px 0px 0px 0px;
   -moz-box-shadow: none;
   -webkit-box-shadow: none;
   -o-box-shadow: none;
   box-shadow: none;
   text-shadow: none;
   border-radius: 0px;
   border: none;
   background: #f4645f;
 }

.navbar .nav.pull-right {
   margin-right: 300px;
   margin-top: 8px;
}
 .nav-button .icon.icon-signin {
   margin: 0px 0px 4px;
 }
 .container-fluid .container-fluid.inner-discovery {
   background: rgba(0, 0, 0, 0) url(../img/UIadmin_vignette.jpg) no-repeat 0px 0px;
   background-size: cover;
   height: 654px;
   /*width: 980px;*/
 }
 .org-profile-heading{
   text-align: center;
 }
 .edit-profile-btn {
   display: inline;
   margin-top: 10px;
 }
 .side-profile {
  border-right: 2px solid #f3f3f3;
  padding-top: 20px;
 }
.image {
   border-radius: 150px;
   height: 150px;
   width: 150px;
   display: block;
   margin-left: auto;
   margin-right: auto;
 }

.discovery-page-header{
   margin: 310px 0px 0px 0px;
}
.discovery-page-header h1
{
   color: #ffffff;
}
.discovery-page-header 
h1 small,
h2 small,
h3 small,
h4 small {
   color: #ffffff;
   font-style: italic;
}
.discovery-search{
   float: none; 
   margin: 25px auto;
   width: 400px;
}
.discovery-search input.textinput {
   font-size: 20px;
   line-height: 30px;
   border-radius: 0px;
   border: none;
   background: #6c6c6c;
   padding: 15px 20px 15px 20px;
   width: 270px;
   /*height: 50px;*/
 }
 .discovery-search .btn-success {
   background: #29a6be;
   -moz-box-shadow: none;
   -webkit-box-shadow: none;
   -o-box-shadow: none;
   box-shadow: none;
   text-shadow: none;
   border-radius: 0px;
   border: none;
   font-family:"helvetica";
   font-weight: bold;
   font-size: 20px;
   line-height: 30px;
   padding: 10px 20px 10px 20px;
 }
.textinput-button {
   display: inline;
   float: left;
}
.textinput{
   display: inline;
   float: left;
}
.btn-success{
   /*margin: 0px 0px 0px 0px;*/
   padding: 10px 20px 10px 20px;
   -moz-box-shadow: none;
   -webkit-box-shadow: none;
   -o-box-shadow: none;
   box-shadow: none;
   text-shadow: none;
   border-radius: 0px;
   border: none;
   background: #29a6be;
}
@media (max-width: 635px){
   .discovery-page-header{
      margin: 20px 0px 0px 0px;
      font-size: 20px;
   }
}
@media (max-width: 768px){
   .discovery-search{
      float: none; 
      margin: 25px auto;
      width: 325px;
   }
   .discovery-search input.textinput {
      font-size: 20px;
      line-height: 30px;
      border-radius: 0px;
      border: none;
      background: #6c6c6c;
      padding: 15px 20px 15px 20px;
      width: 210px;
   }
}
 @media (max-width: 568px ){
   .navbar .brand{
      font-size: 20px;
      /*margin-bottom: 50px;*/
   }
 }
 @media (max-width: 340px){
      .discovery-search{
      float: none; 
      margin: 25px auto;
      width: 240px;
   }
   .discovery-search input.textinput {
      font-size: 20px;
      line-height: 30px;
      border-radius: 0px;
      border: none;
      background: #6c6c6c;
      padding: 15px 20px 15px 20px;
      width: 125px;
   }
 }
