<div id="discovery">
  <div class="org-search">
    <h2 {{action "something"}} > Action! </h3>
    <div class="search-box">
      <input type="text" placeholder="hey" id="login-name">
      <label class="org-search-icon fui-menu-24"></label>
      {{#each organizations}}
        {{view Em.App.ListItemView}}}
      {{/each}}
    </div>
  </div>
</div> 