<div id="discovery">
  <div class="org-search">
    <div class="search-box">
      <input type="text" placeholder="hey" id="login-name">
      <label class="org-search-icon fui-menu-24"></label>
      {{>list_item}}
    </div>
  </div>
</div>