<div id="discovery">
  <div class="org-search content-well span6 offset1">
    <div class="search-box">
      {{view Ember.TextField
        type="text"
        placeholder="Search for an organization"
        id="login-name"
        valueBinding="filterString"
      }}
      <label class="org-search-icon fui-menu-24"></label>
      {{#each organizations}}
        {{view Em.App.ListItemView}}
      {{/each}}
    </div>
    </div>
  </div>
</div>