<div class="container-fluid inner-discovery" id="discovery">
  <div class="row-fluid">
    <span class="span12">
      <div class="discovery-page-header">
        <center><h1>Find your Organization <small><br>Use the Search box below to see if your Org already plays!</small></center>
        </h1>
      </div>
    </span>
  </div>
  <div class="row-fluid">
    <div class="span12">
      <div class="discovery-search">
        {{view Ember.TextField
          type="text"
          placeholder="Search for an organization"
          id="login-name"
          valueBinding="filterString"
        }}
        <div class="search btn btn-success" {{action "search"}}> Go! </div>
      </div>
    </span>
    <div class="listItemContainer">
    {{#each orgs}}
      {{view App.ListItemView}}
    {{/each}}
    </div>
  </div>

  {{#linkTo organizations.new class="nav-button btn"}} Create org {{/linkTo}}

