<div id="discovery">
  <div class="org-search content-well span6 offset1">
    <div class="search-box">
      {{view Ember.TextField
        type="text"
        placeholder="Search for an organization"
        id="login-name"
        valueBinding="filterString"
      }}
      <label class="org-search-icon fui-menu-24"></label>

    </div>
  </div>
  <div class="top-orgs content-well span5 offset1">
    <h2> Top Orgs </h2>

  </div>
</div> 