<div class="org-search-item">
  <img {{bindAttr src="this.thumb_url"}}>
  <span class="org-data">
    <span class="org-text">
      <span class="org-name">{{this.name}}</span>
      <div class="org-properties">
        <span class="">{{this.member_count}} members · </span>
        <span class="">{{this.location}}</span>
      </div>
    </span>
  </span>
  <a href="#" class="btn btn-primary">Join</a>
  <span class="clearfix"></span>
</div>
