<div class="org-search-item">
  <img src="http://digitalpoverty.files.wordpress.com/2012/08/twitter-egg.png?w=350&h=350">
  <span class="org-data">
    <span class="org-text">
      <span class="org-name">{{this.name}}</span>
      <div class="org-properties">
        <span class="">5 members · </span>
        <span class="">Moscow</span>
      </div>
    </span>
  </span>
  <a href="#" class="btn btn-primary">Join</a>
  <span class="clearfix"></span>
</div>
