<div class="game-page-list-container">
  <!-- Handlebars if/else equivlant, ugly but safe-->
  {{#if eventListSelected}}
    <div class="list-header" title="">
      <span class="list-title selected"> Event Feed </span>
      <span class="list-title not-selected"  {{action "selectList" "playerList"}} > Player List </span>
    </div>
    {{view App.EventListView contentBinding="events"}}
  {{/if}}
  {{#if playerListSelected}}
    <div class="list-header" title="">
      <span class="list-title not-selected"  {{action "selectList" "eventList"}} > Event Feed </span>
      <span class="list-title selected"> Player List </span>
    </div>
    {{view App.PlayerListView contentBinding="players"}}
  {{/if}}
</div>