<div id="application">
    <div class="navbar navbar-inverse">
      <div class="navbar-inner">
        <div class="container">
          <a href= "/discovery" class="nav-button btn"> Find Organization </a>
<!--           <span class="nav-button btn"> My Profile </span>
          <span class="nav-button btn"> Settings </span> -->
          <a href= "/orgs" class="nav-button btn right-nav"> Signup </a>

        </div>
      </div>
  </div>
  {{outlet}}
</div>
<div id="footer">
  <div class="footer-item">
    <a href="https://twitter.com/MikeOfSolomon"> @MikeOfSolomon </a> <br>
    <a href="https://twitter.com/theSachee"> @theSachee </a> <br>
    <a href="https://twitter.com/cba"> @cba </a> <br>
    <a href="https://github.com/Chandler/fles"> Find us on Github </a> <br>
  </div>
</div>