<div id="application">
    <div class="navbar navbar-inverse">
      <div class="navbar-inner">
        <div class="container">
          {{#linkTo discovery class="nav-button btn"}} Find Organizations {{/linkTo}}
          {{#linkTo discovery class="nav-button btn"}} My Profile {{/linkTo}}
          {{#linkTo discovery class="nav-button btn"}} Settings {{/linkTo}}
          {{#linkTo users/new class="nav-button btn right-nav"}} Signup {{/linkTo}}
        </div>
      </div>
  </div>
  {{outlet}}
</div>
<!-- <div id="footer">
  <div class="footer-item">
    <a href="https://twitter.com/MikeOfSolomon"> @MikeOfSolomon </a> <br>
    <a href="https://twitter.com/theSachee"> @theSachee </a> <br>
    <a href="https://twitter.com/cba"> @cba </a> <br>
    <a href="https://github.com/Chandler/fles"> Find us on Github </a> <br>
  </div>
</div> -->