<div id="discovery">
  <div class="org-search">
    <div class="search-box">
      <input type="text" placeholder="Search for an organization or game" id="login-name">
      <label class="org-search-icon fui-menu-24"></label>
    </div>
  </div>
</div>