<div class="org-search-item">
  {{avatar small}}
  <span class="org-data">
    <span class="org-text">
      {{#linkTo organizations.show this class="org-name"}} {{name}} {{/linkTo}}
      <div class="org-properties">
        <span class="">{{my_method}} · </span>
        <span class="">{{location}}</span>
      </div>
    </span>
  </span>
  <span class="clearfix"></span>
</div>
