<div class="org-search-item">
  <span class="org-data">
    <span class="org-text">
      {{#linkTo organizations.show this class="org-name"}} {{name}} {{/linkTo}}
      <div class="org-properties">
        <span class="">5 members · </span>
        <span class="">Moscow</span>
      </div>
    </span>
  </span>
  <span class="clearfix"></span>
</div>
