<div class="org-search-item">
  <span class="org-image">
  {{avatar small}}
  </span>
  <span class="org-data">
    <span class="org-text">
      {{#linkTo organizations.show this class="org-name"}} {{name}} {{/linkTo}}
      <div class="org-properties">
        <span class="">{{location}}  · </span>
        <span class="">{{member_count}} members</span>
      </div>
    </span>
  </span>
  <span class="clearfix"></span>
</div>
