<div class="simple-page">
  {{#if errorMessages}}
    <div class="alert alert-error">{{errorMessages}}</div>
  {{/if}}
  <div class="page-heading"><h1>Sign in</h1></div>
  <div class="row-fluid ">
    <span class="span12 full-height">
      <div class="form-fields">
        <div class="email">
          {{view Ember.TextField
            type="text"
            placeholder="email"
            valueBinding="email"
          }}
        </div>
        <div class="password">
          {{view Ember.TextField
            type="password"
            placeholder="password"
            valueBinding="password"
          }}
        </div>
        <div class="btn btn-large btn-block signup-btn" {{action "login"}}> Sign in! </div>
      </div>
      <div class="page-heading"><small>Don't have an account?</small>
  {{#linkTo 'users.new' }} Sign Up {{/linkTo}}
  </div>
    </span>
    
  </div>
    <span class="clearfix"></span>
</div>
