<div class="span2 register-kill-module">
  Register Kill!
  <div class="field">
  {{view Ember.TextField
    type="text"
    placeholder="code"
    valueBinding="code"
  }}
  </div>
  <div class="btn btn-large btn-block signup-btn" {{action "registerTag"}}> Register Kill </div>
</div>