    <button class="btn btn-tag btn-large pull-right" {{action "registerTag"}}>TAG</button>
   {{view Ember.TextField
      type="text"
      placeholder="Human Code"
      valueBinding="code"
      class="tag-input pull-right"
    }} 
