<div  id="login" class="simple-page">

  <div class="row-fluid">
    <span class="span12">
      <div class="form-fields">
        <div class="row field">
          {{view Ember.TextField
            type="text"
            placeholder="email"
            valueBinding="email"
          }}
        </div>
          <div class="row btn btn-large btn-block signup-btn" {{action "reset"}}> Reset </div>
        </div>
    </span>
  </div>
   {{#if messages}}
    <div class="alert alert-success">We sent a password reset email to {{messages}}!</div>
    {{/if}}
      {{#if errorMessages}}
        <div class="alert alert-error">We couldn't find that user. :(</div>
      {{/if}}
    <span class="clearfix"></span>
</div>