primary_green = rgba(20, 146, 245, 0.57)
navy_blue = rgb(29, 74, 131)
sea_green = rgb(53, 175, 112)
#application
  background-image: url('images/blur.jpg')
  background-repeat: repeat
  background-position: top
  background-size: 100%
  display: block
  .navbar-inner
    background-color: primary_green
    border-radius: 0px 0px 0px 0px

#discovery
  padding-top: 150px
.org-search
  background-color: primary_green
  width: 500px
  height: 700px
  margin-left: auto
  margin-right: auto
  padding-top: 30px
  border-radius: 8px 8px 6px 6px
  .search-box
    input
      height: 50px
      width: 400px
      margin-left: auto
      margin-right: auto
      display: block
    .org-search-icon
      float: right
      position: relative
      right: 60px
      top: -42px

.org-search-item
  color: #fff
  padding: 2px
  background-color: sea_green
  width: 450px
  margin-bottom: 5px
  margin-right: auto
  margin-left: auto
  display: block
  clear: both
  .btn
   float: right
  img
    border-radius: 8px 8px 6px 6px
    float: left
    height: 50px
    width: 50px
    margin-right: 10px
  .clearfix
    clear: both




