/* Chandler land */
.nav-button
  margin-left: 5px

/* file upload */
.file_upload
  cursor: pointer
.hidden_form
  visibility: hidden
/* misc */

.avatar-grid
  height: auto
  width: auto
  margin-left: 30px
  margin-right: 30px
  // float: left

.avatar
  border-radius: 4px;
  box-shadow: 0 0 3px 0.1px #2b95ca;

.grid-pic
  margin: 5px
  float: left


/* Lists */
.game-page-list-container
  // border: 1px solid #dce7ee
  // background-color: #FCFCFC
  overflow-x: hidden
  overflow-y: hidden
  // width: 600px
  // height: (1400-15)px /*hack to remove scroll bar */
  // height: 400px
.list-header
  box-sizing: border-box
  width: 100%
  padding: 10px 18px
  line-height: 20px
  font-family: proxima-nova,sans-serif
  font-size: 15px
  color: #333333
  font-weight: 200px
  // text-shadow: 0 1px #fff
  // background-color: #fff
  .list-title
    margin-right: 20px
    text-transform: uppercase
  .selected
    padding: 5px
    // border-radius: 4px;
    // box-shadow: 0 0 3px 0.1px #2b95ca;
    background-color: #2fe2bf
  .not-selected
    padding: 6px
    cursor: pointer
.ember-list-view
  margin-right: -15px
.event-feed-row
  height: 50px
  width: 600px
  line-height: 25px
  font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif
  font-size: 15px
  padding: 14px 18px
  // border-top: 1px solid #dce7ee
  // background-color: #fff
  float: left
  display: block
  .event-feed-cell
    position: relative
    display: inline-block
    margin-right: 10px
  .event-time
    margin-right: 10px
  .event-color
    width: 18px
    height: 10px
    margin-right: 15px
    border-radius: 4px;
  .tag
    background-color: #3E90D1 
  .joined
    background-color: #D13E85

  .event-description
    font-weight:bold;

/* user/org home */
.description 
  font-size: 17px
  padding: 5px
.profile-home
  margin-left: 2px

.game-badge
  position: relative;
  height: 50px;
  background-color: #F7F7F7;
  padding-top: 17px;
  border-radius: 5px;
  span
   margin-left: 6px
   bottom: 0;
   left: 0;
   padding-left: 10px;
   padding-bottom: 10px;




/*game page */

.game-home
  margin-top: 20px
  margin-left: 20px
  margin-right: 20px
  .info-module
    height: 250px
    float: left
  .stats-module
    height: 250px

  .activity-feed-module
    height: 500px

  .player-list-module 
    display: block
    margin-right: auto
    margin-left: auto
    height: 500px

  .register-tag-module
    height: 143px;
    float: left;
    background-color: #E26B67;
    width: 100%;
    btn 
     width: 200px

/* Game profile banner, obviously stolen */
.banner-heading
  margin-left: 5px
.top 
  height: 100px
  background:#1abc9c;
  color:#fff
  a
   color: #fff

.top {line-height:40px;padding:16px 0 5px;width:auto;white-space:nowrap;}
.top h1,
// .top h2{display:inline-block;font-size:30px}
.top h1
  margin-top: 3px
  margin-bottom: -10px
  font-weight:100
  font-size: 30px

// .top h1:after{content:"/";padding:0 10px}
.top h2
  display:inline-block
  font-weight:100
  overflow:hidden;max-width:650px
  -o-text-overflow:ellipsis
  text-overflow:ellipsis
  font-style: italic
  font-size: 24px
  padding-left: 2px

.top .profile_image
  margin-top: -9;
  margin-left: 10px
  margin-right: 10px
  border-radius: 100px;
  height: 100px;
  width: 100px;
  display: block;

.top .remaining
  // width: 300px
  font-size: 28px
  font-weight: 100px
  padding-right: 30px 
  float: right


.right-banner-nav
  float: right
  margin-top: -60px
  margin-right: 20px

/*user profiles */
.profile-options
  float: right
  margin-right: 20px

.register-tag 
  // margin-left: -30px
  // margin: 30 auto auto 10
  margin-top: 30px
  display: block
  margin-left: auto
  margin-right: auto
  width: 290px
  // margin-left: 20px


input.tag-input {
  padding: 10px 6px 10px 6px;
  background: #bebebe;
  // font-family:"proxima-nova";
  font-size: 25px;
  color: #ffffff;
  border-radius: 0px;
  line-height: 30px;
  border: 1px solid #bebebe;
  // width: 160px;
}

.btn-tag {
  background: #f5cc5f;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  -o-box-shadow: none;
  box-shadow: none;
  text-shadow: none;
  font-size: 20px;
  color: #424040;
  border-radius: 0px;
  border: none;
  // font-family:"proxima-nova";
  font-weight: bold;
  height: 52px;
  width: 76px;
  margin-top: 0px;
}
.player-grid 
  // width: 370px
  padding-top: 50px

.game-players-heading 
  // margin-top: 100px;
  text-align: center;
  padding-bottom: 5px;

.game-list-name
  font-weight: 200px
  font-size: 35px
  margin-bottom: 30px

.game-info-text
  font-size: 30
  font-weight: bold

.game-list-item
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 50px

.edit-profile-btn
  font-style: italic
  font-weight: 100
  clear: left
  display: inline-block
  -moz-box-shadow: none
  -webkit-box-shadow: none
  -o-box-shadow: none
  box-shadow: none
  text-shadow: none
  border-radius: 0px
  border: none
  color: #ffffff
  background: #f4645f

.gamepage-join-btn
  font-style: italic
  font-weight: 100
  clear: left
  display: inline-block
  -moz-box-shadow: none
  -webkit-box-shadow: none
  -o-box-shadow: none
  box-shadow: none
  text-shadow: none
  border-radius: 0px
  border: none
  color: #ffffff
  background: #f4645f
  margin-top: 20px



// .fall-background
//   background: rgba(0, 0, 0, 0) url("http://i.imgur.com/2tdFixI.jpg") no-repeat 0px 0px;
//   background-size: cover;
//   // height: 654px;
//   // height: 100%
//   margin-left: 0px
//   background-repeat:no-repeat;
//   background-attachment:fixed

.fall-background 
  background: url("http://i.imgur.com/2tdFixI.jpg") no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  // height: 100%

.transparent-cover-nav
  border-right: none;
  border-left: none;
  background: rgba(218, 218, 218, 0.6);
  background-size: cover

.transparent-cover
  border-right: none;
  border-left: none;
  background: rgba(218, 218, 218, 0.4);
  padding: 20px 20px 20px 20px;
  background-size: cover

.game-stats 
  margin-top: 20px

.joined-button
  margin-top: 20px

.full-height
  height: 100%


