primary_theme = rgb(20, 146, 245)
secondary_theme = rgb(72, 66, 73)
navy_blue = rgb(29, 74, 131)
sea_green = rgb(53, 175, 112)
small_signup_field_width = 225px
large_signup_field_width = (small_signup_field_width * 2) + 15 //15 padding

#application
  height: 100%
  background-color: secondary_theme
  // background-image: url('images/blur.jpg')
  background-repeat: repeat
  background-position: top
  background-size: 100%
  display: block
  .navbar
    margin-bottom: 0
  .navbar-inner
    height: 75px
    background-color: primary_theme
    border-radius: 0px 0px 0px 0px
    margin-bottom: -75px
    padding-left: 100px
    .nav-button
      margin-top: 30px
      margin-right: 10px
    .right-nav
      float: right

.main
  margin: 200px

.simple-page
  margin-top: 85px
  margin-left: 200px
  min-height: 300px
  .alert
    top: 85px
    left: 180px
    width: 450px
    position: absolute
    height: 25px
#createorg
  margin-top: 150px
  .row
    clear: both
  .fields
    float: left
    // margin-top: 200px
    // margin-left: 200px
  .field
    float: left
  input
    width: large_signup_field_width
    height: 50px
    font-size: 22px
    line-height: 25px
  textarea
    width: large_signup_field_width
    height: 100px
  .signup-btn
    width: large_signup_field_width

#signup  
  .row
    clear: both
  .fields
    float: left
    // margin-top: 200px
    // margin-left: 200px
  input
    width: large_signup_field_width
    height: 50px
    font-size: 22px
    line-height: 25px
  textarea
    width: large_signup_field_width
    height: 100px
  .fname, .lname
    input
      width: small_signup_field_width
      margin-left: auto
      margin-right: auto
      display: block
      margin-right: 15px
  .email, .password, .screenname
    input
      width: large_signup_field_width
  .signup-btn
    width: large_signup_field_width



#discovery
  padding-top: 150px
  .content-well
    border-radius: 8px 8px 6px 6px
    padding-top: 30px
    background-color: primary_theme
  .top-orgs
    height: 500px
  .org-search
    min-height: 200px
    .search-box
      input
        height: 50px
        width: 400px
        margin-left: auto
        margin-right: auto
        display: block
      .org-search-icon
        float: right
        position: relative
        right: 60px
        top: -42px
  .org-search-item
    color: #fff
    padding: 2px
    background-color: sea_green
    width: 450px
    margin-bottom: 5px
    margin-right: auto
    margin-left: auto
    display: block
    clear: both
    .btn
     float: right
    img
      border-radius: 8px 8px 6px 6px
      float: left
      height: 50px
      width: 50px
      margin-right: 10px
    .clearfix
      clear: both


#footer
  float: left
  bottom:0
  width:100%
  background-color: primary_theme
  height: 150px
  margin-top: -150px
  .footer-item
    margin-left: 30px
    margin-top: 20px
    a
      color: #fff
      font-size: 25px












