<div  id="org" class="simple-page">
	<div class="row-fluid">
	  <span class="span4">
	    <div class="side-profile">
	      {{avatar profile class="profile_image pull-center"}}
	      <div class="page-heading">
	        <h1>{{name}}<small><br>Idaho's Flagship University</small></h1> 
	          {{#linkTo organizations.edit this class="-btn edit-profile-btn"}} Edit Org Settings {{/linkTo}}
	          <hr>
	        <h3>223 Members</h3>
	      </div>
	    </div>
	  </span>
	  <span class="8">
	      Games
	      {{#linkTo games.new class="nav-button btn"}} New Game {{/linkTo}}
	      {{#each games}}
	      	<h4>{{name}}</h4>
	      {{/each}}
	  </span>
	</div>
</div>