<div  id="org" class="simple-page">
{{#linkTo organizations.edit this class="org-name"}} Edit Settings {{/linkTo}}
{{#linkTo games.new class="nav-button btn"}} New Game {{/linkTo}}
  <h1 class="org-title"> The name of my org is {{name}} </h1>
  <h1 class="org-test"> My games are {{stuff}}</h1>
  {{#each games}}
    hi {{name}} <br>
  {{/each}}
  <h1 class="org-test"> My photo is </h1>  
  <h1 class="org-test"> My location is </h1>
  <h1 class="org-test"> My member count is </h1>
  <h1 class="org-test"> My members are </h1>
</div>
