<div  id="org" class="simple-page">
	<div class="row-fluid">
	  <span class="span4">
	    <div class="side-profile">
	      {{avatar profile class="profile_image pull-center"}}
	      <div class="page-heading">
	        <h1>{{name}}<small><br>Idaho's Flagship University</small></h1> 
	          {{#linkTo organizations.edit this class="-btn edit-profile-btn"}} Edit Org Settings {{/linkTo}}
	          <hr>
	        <h3>223 Members</h3>
	      </div>
	    </div>
	  </span>
	  <span class="span5 profile-content-column">
		  <div class="profile-option-tabs">
			  <div class="profile-option-tab">Home</div>
			  <div class="profile-option-tab">Activity</div>
			  <div class="profile-option-tab">Games</div>
			  <div class="profile-option-tab">Settings</div>
			  <span class="clearfix">
			</div>

			<span class="games">
	    <h2> Active Game </h2>
			<div class="gameitem">
				<div class="major-title">
					August 3rd 2013
				</div>
				<div class="register-button btn">
					Register Now
				</div>
			</div>
	    <h3> Past Games</h3>
			<div class="gameitem closed"></div>
	  	<div class="gameitem closed"></div>
	  	</span>
		</span>
	</div>
</div>