<div>
<div class="top">
  {{avatar profile class="profile_image pull-left"}}
  <div class="wrap">
      <h1>{{organization.name}}</h1>
      <h2>{{name}} Game</h2>
  </div>
  <div class="right-banner-nav">
    <div> {{#linkTo game.home }} <i class="icon-home icon-2x"></i>{{/linkTo}} </div>
    <div> {{#linkTo game.settings }} <i class="icon-cog icon-2x"></i>{{/linkTo}} </div>
  </div>
</div>

  {{outlet}}
</div>