<div  id="org" class="simple-page">
  <div class="row-fluid">
    <span class="span5 profile-content-column">
      <div class="profile-option-tabs">
        {{#linkTo game.home classNames="profile-option-tab profile-home"}} Home {{/linkTo}}
        {{#linkTo game.settings classNames="profile-option-tab profile-home"}} Settings {{/linkTo}}
        <span class="clearfix">
      </div>
      {{outlet}}
    </span>
  </div>
</div>