<div class="row game-stats transparent-cover">
	<div class="span4">
	    <center>WHERE THE STATS GO</center>
	    <div style="height:250px; background-color:#f2df5d; margin-top: 10px"></div>
	    <div style="height:250px; background-color:#00afcc; margin-top: 10px"></div>
	</div>
	<div class="span3">
		<center>WHERE STATS GO</center>
		<div style="height:250px; background-color:#00ffcc; margin-top: 10px"></div>
		<div style="height:250px; background-color:#00ddcc; margin-top: 10px"></div>
	</div>
	<div class="span5 player-list-module">
  		{{ view App.GamePageListView contentBinding="content"}}
  		<center> MORE STUFF UNDER HERE!</center>
	</div>

</div>

{{!-- <div class="game-home">
	<div class="row">
	  	<div class="row oneone">
	    	<div class="span4">
	    		<div class="register-tag">
	    			{{view App.RegisterTagView}}
	    		</div>
	    		<div class="player-grid">
	    			<div class="page-heading">
			  			<h2>123 Players</h2>
			  			<small>View all Players >></small>
					</div>
				</div>
				<div class="grid-image">
				</div>
	    	</div>

	    	<div class="span4">
	    		<center>WHERE THE STATS GO</center>
	    	</div>

	    	<div class="span6 player-list-module">
		  		{{ view App.GamePageListView contentBinding="content"}}
			</div>
	  	</div>
	</div>
</div> --}}
