{{#if errorMessages}}
  <div class="alert alert-error">{{errorMessages}}</div>
{{/if}}

<br>
<div class="game-stats">
	<div class="row transparent-cover">
	  <div class="span4 player-list-module">
	  	<div class="register-tag">
      {{#if App.Auth.signedIn}}
			  {{#if game.showRegisterTag}}
			    {{view App.RegisterTagView}}
			  {{/if}}
			{{/if}}
		</div>
	  </div>
	  <div class="span4">
	  	<h3>Events</h3>
	      {{ view App.EventListView contentBinding="events"}}
	  </div>
	  <div class="span4">
	  	<h3>Players</h3>
	      {{ view App.PlayerListView contentBinding="players"}}
	  </div>
	</div>
</div>
