<div class="game-home">
  <div class="row">
    <div class="span6 quadrant info-module">
      {{view Em.App.RegisterKillView}}
    </div>
    <div class="span6 quadrant stats-module">
      {{view Em.App.TimeSeriesView contentBinding='game'}}
    </div>
  </div>

  <div class="row">
    <div class="span6 quadrant activity-feed-module">
    </div>
    <div class="span6 quadrant player-list-module">
      {{view Em.App.PlayerListTableView}}
    </div>
  </div>
</div>