<div class="game-home">
  <div class="row">
    <div class="span6 quadrant activity-feed-module">
      {{view App.GamePageListView contentBinding="content"}}
    </div>
    <div class="span6 quadrant activity-feed-module">
      {{view App.RegisterTagView}}
    </div>
  </div>
</div>